.cover__link {
    text-decoration: none;
    z-index: 1;
    padding: auto auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}